/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-sphr-recent-post {
	border: 1px dotted rgb(1, 1, 1);
}

.flex-display {
	.swiper-slide {
		.button {
			display: inline-block;
			font-family: inherit;
			background-color: #13aff0;
			color: #fff;
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
			margin: 0;
			padding: 14px 20px;
			border: 0;
			cursor: pointer;
			text-align: center;
			letter-spacing: .1em;
			line-height: 1;
			text-decoration: none;
		}
	}
}
